body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../image/leadbored.jpg);
}

.d-flex {
  display: flex;
}

.ul {
  border: 2px solid black;
}

.main-container {
  justify-content: space-between;
  margin: 0 14%;
}

.main-container > * {
  width: 40%;
}

.header {
  color: brown;
}

.score-header {
  align-items: center;
  justify-content: space-between;
}

#form {
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 5px;
}

.submit {
  align-self: flex-end;
}

.scoreslist {
  margin: 0;
  padding: 0;
}

.scoreslist li {
  list-style: none;
  padding: 1px 5px;
}

.scoreslist li:nth-child(even) {
  background: rgb(197, 162, 162);
}

.scoreslist li:nth-child(odd) {
  background: #fff;
}
